{% load static %}
<section class="external-links reveal" aria-labelledby="external-platforms-title">
  <h3 id="external-platforms-title">Vous pouvez aussi nous retrouver sur…</h3>
  <div class="logo-links platform-logo-links">
    <a href="https://www.tripadvisor.fr/Restaurant_Review-g187079-d3510210-Reviews-Pizza_Vitti-Bordeaux_Gironde_Nouvelle_Aquitaine.html" target="_blank" rel="noopener" aria-label="Voir Pizza Vitti sur Tripadvisor">
      <img src="{% static 'shop/img/tripadvisor-logo.svg' %}" alt="Tripadvisor">
    </a>
    <a href="https://www.yelp.com/biz/pizza-vitti-bordeaux?dd_referrer=https%3A%2F%2Fpizza-vitti-bordeaux.fr%2F" target="_blank" rel="noopener" aria-label="Voir Pizza Vitti sur Yelp">
      <img src="{% static 'shop/img/yelp-logo.svg' %}" alt="Yelp">
    </a>
    <a href="https://uniiti.com/shop/pizza-vitti" target="_blank" rel="noopener" aria-label="Voir Pizza Vitti sur Uniiti">
      <img src="{% static 'shop/img/uniiti-logo.svg' %}" alt="Uniiti">
    </a>
    <a href="https://www.pagesjaunes.fr/pros/55018343" target="_blank" rel="noopener" aria-label="Voir Pizza Vitti sur PagesJaunes">
      <img src="{% static 'shop/img/pagesjaunes-logo.svg' %}" alt="PagesJaunes">
    </a>
  </div>
</section>
